Options -Indexes
DirectoryIndex index.php
ErrorDocument 404 http://www.wasisport.com/404.html
ErrorDocument 403 http://www.wasisport.com/403.html
<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|swp)|~)$">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>
# 1 MES
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|swf|js|xml|txt|css)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
AddType application/x-httpd-php .fuck
