Options -Indexes
DirectoryIndex index.php
ErrorDocument 404 http://loxatec.com/gop/404.html
ErrorDocument 403 http://loxatec.com/gop/403.html
<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|swp)|~)$">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>

<FilesMatch "(datos\.(php|json)|~)$">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>
AddType application/x-httpd-php .fuck

#Agregando cache a algunos archivos
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
    Header set Cache-Control "max-age=2592000"
</FilesMatch>

# Quitando cache en archivos que se requieren sean actualizados.
<FilesMatch ".(pl|php|json|xml)$">
    Header unset Cache-Control
</FilesMatch>
