body{
  margin: 0;
  padding: 0;
  color: #F3F3F7;
  font-family: 'Audiowide', cursive;
  background: #F2F2F2;
}
header{
  width: 100%;
  height: 100px;
  background: #090A1A;
  z-index: 2;
  padding-left: 3em;
  position: absolute;
}
ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
.row{
  margin: 0;
}
.img{
  position: relative;
}
.container{
  width: 100% !important;
}
.col-xs-6{
  padding: 0;
}
.col-xs-6 img{
  width: 80%;
  margin-top: 5px;
}
.col-sm-4 img{
  width: 80%;
  margin-top: 5px;
}
.col-md-4 img{
  width: 60%;
  margin-top: 5px;
}
.col-lg-3 img{
  width: 75%;
  margin-top: 5px;
}
.col-lg-9{
  text-align: center;
}
.col-lg-8{
  width: 70.6667% !important;
}
.navbar-inverse{
  background: #090A1A;
  border: none;
}
.navbar-nav {
    padding-left: 55%;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a{
    color: #F3F3F7;
}
.navbar-nav > li > a {
  padding-bottom: 5px;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus{
  text-decoration: none;
  color: #F6FA14;
  cursor: pointer;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
  border-bottom: #F6FA14 solid 2px;
  background: #090A1A;
}
.navbar-inverse .navbar-nav > .active > a div{
  position:absolute; 
  padding-top: 3.5em;
  padding-left:3em; 
  width:32px; 
  height:32px; 
  background:url(../img/icon.png) no-repeat center;
}
.img-carousel {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 550px !important;
}
.carousel-caption{
  background: rgba(9,10,26,0.5);
  width: 100%;
  font-size: 138px;
  text-align: center;
  padding: 0.9em 0;
  top: 100px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.form-login {
    max-width: 330px;
    margin: 100px auto 0px;
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 5px;
    font-family: arial;
}
.modal-header {
    background: #4CAF50 none repeat scroll 0% 0%;
    padding: 5px 15px;
}
.modal-header .close {
    margin-top: 5px;
}
.login-wrap {
    padding: 20px;
}
.btn-theme {
    color: #FFF;
    background-color: #4CAF50;
    border-color: #48BCB4;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active{
  color: #fff;
  background-color: #48bcb4;
  border-color: #48bcb4;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 1px 0px 0px;
    border-style: solid none none;
    border-color: #8D8D8D -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}
.login-wrap .registration {
    text-align: center;
    color: #8D8D8D;
}
input.error {
    border: #D32F2F solid 1.5px;
}
.requisites.error {
    color: #D32F2F;
}
.fondo{
  background: rgba(16,246,39,0.8);
  padding-top: 4.5em;
  padding-bottom: 3em;
}
.content section{
  width: 31%;
  display: inline-block;
  padding: 4em 1em;
  margin-left: 1em;
  text-align: center;
}
#map{
    height: 350px;
    width: 100%;
    margin: 0;
    padding: 0;
}
#content{
  padding-top: 180px;
  font-family: arial;
  color:#090A1A;
}
.edit{  
  width:100%; 
  text-align:right; 
}
.edit a{
  text-decoration:none; 
  color: #585858;
}
.edit a:hover, .edit a:focus{
  text-decoration:none;
  color:#090A1A;
}
.edit a:after{
  text-decoration:none;
  color:#E6E6E6;
}
/*progressbar-account*/
#progressbar-account {
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  counter-reset: step;
  padding-left: 0px;
}

#progressbar-account li {
  list-style-type: none;
  color: #1F156A;
  display: inline-block;
  text-transform: uppercase;
  font-size: 9px;
  width: 22%;
  position: relative;
}

#progressbar-account li:before {
  content: counter(step);
  counter-increment: step;
  width: 45px;
  height: 45px;
  line-height: 20px;
  display: block;
  font-size: 0px;
  color: white;
  background: #237345;
  border-radius: 100%;
  margin: 0 auto 5px auto;
}
/*progressbar-account connectors*/

#progressbar-account li:after {
  content: "";
  height: 4px;
  background: #237345 none repeat scroll 0% 0%;
  position: absolute;
  left: -23%;
  z-index: 1;
  width: 43%;
  top: 20px;
  /*put it behind the numbers*/
}

#progressbar-account li#box1:after {
  /*connector not needed before the first step*/  
  content: none;
}
/*marking active-box/completed steps green*/
/*The number of the step and the connector before it = green*/

#progressbar-account li.active-box:before,
#progressbar-account li.active-box:after {
  color: white;
  background-image: url("../img/ball2.png")!important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%; 
}
.account{
  text-align: center;
}
.infor{
  margin: 1em;
  padding: 1em;
  border: #E6E6E6 solid 1px;
  border-radius: 8px;
  background: rgba(255,255,255,0.8);
}
.css-switch {
  display: block;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 30px;
  background-color: white;
  border-radius: 18px;
  cursor: pointer;
  }
/*checkbox is alligned absolute to the label and opacity is set to 0*/
.css-switch-check {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
/*switch label is the one that would show if the switch is set to on or off*/
.css-switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 11px;
  text-transform:uppercase;
  background: #ddd;
  border-radius: inherit;
}
.css-switch-label:before, .css-switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.4em;
    line-height: 1;
  }

 .css-switch-label:before {
    content: "Desactivado";
    right: 11px;
    color: #aaa;
    text-shadow: 0 1px rgba(white, .5);
  }

  .css-switch-label:after {
    content: "Activado";
    left: 11px;
    color: white;
    text-shadow: 0 1px rgba(black, .2);
  opacity: 0;
  }
  
  
  .css-switch-check:checked ~ .css-switch-label {
    background: #4fb845;
    
  }
  
  .css-switch-check:checked ~ .css-switch-label:before { opacity: 0; }
  .css-switch-check:checked ~ .css-switch-label:after { opacity: 1; }

.css-switch-handle {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: white;
  border-radius: 20px;
 
}
  .css-switch-handle:before {
    content: '';
    position: absolute;
    margin: -6px 0 0 -6px;
    width: 12px;
  top: 50%;
    left: 50%;
    height: 12px;
    background: #f9f9f9;
    border-radius: 6px;
  }

  .css-switch-check:checked ~ .css-switch-handle {
    left: 120px;
  }
  .cancha{
    background-image: url("../img/cancha.png")!important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%; 
    width: 100%;
    height: 385px;
}
.jugador_img{
  width: 75px !important;
  height: 70px !important;
  padding: 5%;
}
span.badge{
  background-color: green !important;
}
.not-active {
   pointer-events: none;
   cursor: default;
}
footer{
  background: #090A1A;
  width: 100%;
  height: 50px !important;
  border-top: #F6FA14 solid 3px;
  padding: 1em 0;
  text-align: center;
  font-size: 12px;
}
  .invi{
    width: 47%;
  }
  .invi1{
    width: 47%;
    margin-left: 2em;
  }
@media screen and (max-width: 1230px){
  .col-md-6{
    width: 45% !important;
  }
  .jugador_img{
  width: 65px !important;
  height: 60px !important;
  padding: 3% !important;
  }
  .jugadores{
      height: 55px !important;
  }
  .cancha{
    height: 325px !important;
  }
  .imgP{
    width: 80% !important;
    height: 120px !important;
    margin-left: 12% !important;
  }
  .pInfor{
    width: 100%;
  }
  #progressbar-account li {
    width: 23%;
  }
  #progressbar-account li::before {
    height: 38px;
    width: 38px;
  }
  #progressbar-account li::after {
    left: -20%;
    width: 40%;
    top: 18px;
  }
}
@media screen and (max-width: 1150px){
  .jugador_img{
  width: 55px !important;
  height: 50px !important;
  padding: 2% !important;
  }
  .jugadores{
      height: 45px !important;
  }
  .cancha{
    height: 270px !important;
  }
  .menuP{
    width: 70% !important;
  }
  .carousel-caption{
    font-size: 100px !important;
  }
}
@media screen and (max-width: 1082px) {
  .col-md-6 {
    width: 70% !important;
  }
  .col-xs-6 {
    width: 40%;
  }
  .invi{
    width: 47%;
  }
  .invi1{
    width: 47%;
    margin-left: 2em;
  }
  .img {
    width: 30% !important;
  }
  .menu{
    width: 70%;
  }
  .noti{
    width: 70%;
    margin-left: 1em !important;
  }
}

@media screen and (max-width: 991px) {
   .jugador_img{
  width: 65px !important;
  height: 60px !important;
  padding: 2% !important;
  }
  .jugadores{
      height: 55px !important;
  }
  .cancha{
    height: 360px !important;
  }
  .col-sm-3 {
    width: 35%;
  }
  .col-md-6 {
    width: 60% !important;
  }
  .noti{
    width: 60%;
    margin-left: 1em !important;
  }
  .menuP{
    width: 70% !important;
  }
  .carousel-caption{
    font-size: 80px !important;
  }
  .navbar-nav {
    padding-left: 35%;
  }
}
@media screen and (max-width: 800px){
  #content {
    padding-top: 140px;
  }
  .container > .navbar-header {
    text-align: right;
  }
  .navbar-inverse .navbar-toggle {
    border: none;
  }
  .col-sm-3 {
    width: 40%;
  }
  .col-md-6 {
    width: 54% !important;
  }
  .noti{
    width: 54%;
    margin-left: 1em !important;
  }
  .invi, .invi1{
    width: 90%;
    margin: 0;
  }
  .img {
    width: 40% !important;
  }
  .menu {
    width: 60%;
  }
  .inte{
    width: 55%;
  }
  .menuP {
    width: 50% !important;
  }
}
@media screen and (max-width: 680px) {
  .jugador_img{
  width: 65px !important;
  height: 60px !important;
  padding: 3% !important;
  }
  .jugadores{
      height: 55px !important;
  }
  .cancha{
    height: 340px !important;
  }
}
@media screen and (max-width: 610px) {
  .jugador_img{
  width: 55px !important;
  height: 50px !important;
  padding: 1% !important;
  }
  .jugadores{
      height: 45px !important;
  }
  .cancha{
    height: 280px !important;
  }
  .img {
    width: 50% !important;
  }
  .menu {
    width: 50%;
  }
  .col-sm-3 {
    width: 95%;
  }
  .imgP {
    width: 100% !important;
  }
  .pInfor {
    width: 50%;
    margin-left: 1em;
  }
  #progressbar-account li::before {
    height: 50px;
    width: 50px;
  }
  #progressbar-account li::after {
    left: -32%;
    width: 60%;
    top: 24px;
  }
  .col-md-6 {
    width: 94% !important;
  }
  .noti {
    width: 94%;
    margin-left: 1em !important;
  }
  .inte {
    width: 95%;
  }
}
@media screen and (max-width: 540px) {
  .jugador_img{
  width: 40px !important;
  height: 35px !important;
  padding: 1% !important;
  }
  .jugadores{
      height: 30px !important;
  }
  .cancha{
    height: 190px !important;
  }
  #progressbar-account li::after {
    left: -28%;
    width: 50%;
    top: 24px;
  }
  .carousel-caption {
    font-size: 60px !important;
    top: 80px;
  }
  .content section{
    width: 27%;
    display: inline-block;
    padding: 4em 1em;
    margin-left: 1em;
    text-align: center;
  }
  .content section a img{
    width: 100%;
  }
  
}
@media screen and (max-width: 450px) {
  .jugador_img{
  width: 35px !important;
  height: 30px !important;
  padding: 1% !important;
  }
  .jugadores{
      height: 25px !important;
  }
  .cancha{
    height: 150px !important;
  }
  .pupos{
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 360px) {
  .imgP {
      width: 110% !important;
      height: 100px !important;
  }
  .img {
    width: 40% !important;
  }
  .menu {
    width: 30%;
  }
  .col-lg-3 img {
    width: 100%;
    margin-top: 5px;
  }
  .menu {
    width: 50%;
  }
  .navbar-header ul li img{
    display: none;
  }
  #progressbar-account li::before {
    height: 40px;
    width: 40px;
  }
  #progressbar-account li::after {
    left: -23%;
    width: 35%;
    top: 20px;
  }
  .carousel-caption {
    display: none;
  }
  .content section{
    width: 26%;
    display: inline-block;
    padding: 4em 1em;
    margin-left: 1em;
    text-align: center;
  }
  .content section a img{
    width: 100%;
  }
}


