/*progressbar-account*/
#progressbar-account {
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  counter-reset: step;
  padding-left: 0px;
}

#progressbar-account li {
  list-style-type: none;
  color: #1F156A;
  display: inline-block;
  text-transform: uppercase;
  font-size: 9px;
  width: 22%;
  position: relative;
}
#progressbar-account li:before {
  content: counter(step);
  counter-increment: step;
  width: 45px;
  height: 45px;
  line-height: 20px;
  display: block;
  font-size: 0px;
  color: white;
  background: #237345;
  border-radius: 100%;
  margin: 0 auto 5px auto;
}
/*progressbar-account connectors*/

#progressbar-account li:after {
  content: "";
  height: 4px;
  background: #237345 none repeat scroll 0% 0%;
  position: absolute;
  left: -23%;
  z-index: 1;
  width: 43%;
  top: 20px;
  /*put it behind the numbers*/
}

#progressbar-account li#box1:after {
  /*connector not needed before the first step*/  
  content: none;
}
/*marking active-box/completed steps green*/
/*The number of the step and the connector before it = green*/

#progressbar-account li.active-box:before,
#progressbar-account li.active-box:after {
  color: white;
  background-image: url("../img/ball2.png")!important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%; 
}
.account{
  text-align: center;
}
.infor{
  margin: 1em;
  padding: 1em;
  border: #E6E6E6 solid 1px;
  border-radius: 8px;
  background: rgba(255,255,255,0.8);
}
.css-switch {
  display: block;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 30px;
  background-color: white;
  border-radius: 18px;
  cursor: pointer;
  }
/*checkbox is alligned absolute to the label and opacity is set to 0*/
.css-switch-check {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
/*switch label is the one that would show if the switch is set to on or off*/
.css-switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 11px;
  text-transform:uppercase;
  background: #ddd;
  border-radius: inherit;
}
.css-switch-label:before, .css-switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.4em;
    line-height: 1;
  }

 .css-switch-label:before {
    content: "Desactivado";
    right: 11px;
    color: #aaa;
    text-shadow: 0 1px rgba(white, .5);
  }

  .css-switch-label:after {
    content: "Activado";
    left: 11px;
    color: white;
    text-shadow: 0 1px rgba(black, .2);
  opacity: 0;
  }
  
  
  .css-switch-check:checked ~ .css-switch-label {
    background: #4fb845;
    
  }
  
  .css-switch-check:checked ~ .css-switch-label:before { opacity: 0; }
  .css-switch-check:checked ~ .css-switch-label:after { opacity: 1; }

.css-switch-handle {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: white;
  border-radius: 20px;
 
}
  .css-switch-handle:before {
    content: '';
    position: absolute;
    margin: -6px 0 0 -6px;
    width: 12px;
  top: 50%;
    left: 50%;
    height: 12px;
    background: #f9f9f9;
    border-radius: 6px;
  }

  .css-switch-check:checked ~ .css-switch-handle {
    left: 120px;
  }
  .cancha{
    background-image: url("../img/cancha.png")!important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%; 
    width: 100%;
    height: 385px;
}
.jugador_img{
  width: 65px !important;
  height: 65px !important;
  padding: 5%;
}
span.badge{
  background-color: green !important;
}
.not-active {
   pointer-events: none;
   cursor: default;
}
  .invi{
    width: 47%;
  }
  .invi1{
    width: 47%;
    margin-left: 2em;
  }
@media screen and (max-width: 1230px){
  .jugador_img{
  width: 65px !important;
  height: 60px !important;
  padding: 3% !important;
  }
  .jugadores{
      height: 55px !important;
  }
  .cancha{
    height: 325px !important;
  }
  .imgP{
    width: 80% !important;
    height: 120px !important;
    margin-left: 12% !important;
  }
  .pInfor{
    width: 100%;
  }
  #progressbar-account li {
    width: 23%;
  }
  #progressbar-account li::before {
    height: 38px;
    width: 38px;
  }
  #progressbar-account li::after {
    left: -20%;
    width: 40%;
    top: 18px;
  }
}
@media screen and (max-width: 1150px){
  .jugador_img{
  width: 55px !important;
  height: 50px !important;
  padding: 2% !important;
  }
  .jugadores{
      height: 45px !important;
  }
  .cancha{
    height: 270px !important;
  }
  .menuP{
    width: 70% !important;
  }
  #progressbar-account li {
    width: 20%;
  }
  #progressbar-account li::before {
    height: 34px;
    width: 30px;

  }
  #progressbar-account li::after {
    left: -15%;
    width: 35%;
    top: 24px;
  }
}
@media screen and (max-width: 1082px) {
  .invi{
    width: 47%;
  }
  .invi1{
    width: 47%;
    margin-left: 2em;
  }
  .img {
    width: 30% !important;
  }
  .menu{
    width: 70%;
  }
  .noti{
    width: 70%;
    margin-left: 1em !important;
  }
  #progressbar-account li {
    width: 20%;
  }
  #progressbar-account li::before {
    height: 34px;
    width: 30px;
  }
  #progressbar-account li::after {
    left: -15%;
    width: 35%;
    top: 24px;
  }
}

@media screen and (max-width: 991px) {
   .jugador_img{
  width: 65px !important;
  height: 60px !important;
  padding: 2% !important;
  }
  .jugadores{
      height: 55px !important;
  }
  .cancha{
    height: 360px !important;
  }
  .noti{
    width: 60%;
    margin-left: 1em !important;
  }
  .menuP{
    width: 70% !important;
  }
  #progressbar-account li {
    width: 20%;
  }
  #progressbar-account li::before {
    height: 34px;
    width: 30px;
  }
  #progressbar-account li::after {
    left: -15%;
    width: 35%;
    top: 24px;
  }
}
@media screen and (max-width: 800px){
  .noti{
    width: 54%;
    margin-left: 1em !important;
  }
  .invi, .invi1{
    width: 90%;
    margin: 0;
  }
  .img {
    width: 40% !important;
  }
  .menu {
    width: 60%;
  }
  .inte{
    width: 55%;
  }
  .menuP {
    width: 50% !important;
  }
}
@media screen and (max-width: 680px) {
  .jugador_img{
  width: 65px !important;
  height: 60px !important;
  padding: 3% !important;
  }
  .jugadores{
      height: 55px !important;
  }
  .cancha{
    height: 340px !important;
  }
}
@media screen and (max-width: 610px) {
  .jugador_img{
  width: 55px !important;
  height: 50px !important;
  padding: 1% !important;
  }
  .jugadores{
      height: 45px !important;
  }
  .cancha{
    height: 280px !important;
  }
  .img {
    width: 50% !important;
  }
  .menu {
    width: 50%;
  }
  .imgP {
    width: 100% !important;
  }
  .pInfor {
    width: 50%;
    margin-left: 1em;
  }
  #progressbar-account li::before {
    height: 50px;
    width: 50px;
  }
  #progressbar-account li::after {
    left: -32%;
    width: 60%;
    top: 24px;
  }
  .col-md-6 {
    width: 94% !important;
  }
  .noti {
    width: 94%;
    margin-left: 1em !important;
  }
  .inte {
    width: 95%;
  }
}
@media screen and (max-width: 540px) {
  .jugador_img{
  width: 40px !important;
  height: 35px !important;
  padding: 1% !important;
  }
  .jugadores{
      height: 30px !important;
  }
  .cancha{
    height: 190px !important;
  }
  #progressbar-account li::after {
    left: -28%;
    width: 50%;
    top: 24px;
  }  
}
@media screen and (max-width: 450px) {
  .jugador_img{
  width: 35px !important;
  height: 30px !important;
  padding: 1% !important;
  }
  .jugadores{
      height: 25px !important;
  }
  .cancha{
    height: 150px !important;
  }
  .pupos{
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 360px) {
  .imgP {
      width: 110% !important;
      height: 100px !important;
  }
  .img {
    width: 40% !important;
  }
  .menu {
    width: 30%;
  }
  #progressbar-account li::before {
    height: 40px;
    width: 40px;
  }
  #progressbar-account li::after {
    left: -23%;
    width: 35%;
    top: 20px;
  }
}


