
article, aside, section {
  display: block;
}

.item {
  position: relative;
  padding: 12px 15px 12px 70px;
  line-height: 18px;
  font-size: 11px;
  color: #626c80;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  background: #dee5f4;
  border-top: 1px solid #e9eef8;
  border-bottom: 1px solid #cbd6ee;
  background-image: -webkit-linear-gradient(bottom left, #dee5f4 85%, #c7d3ec);
  background-image: -moz-linear-gradient(bottom left, #dee5f4 85%, #c7d3ec);
  background-image: -o-linear-gradient(bottom left, #dee5f4 85%, #c7d3ec);
  background-image: linear-gradient(to top right, #dee5f4 85%, #c7d3ec);
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
}


.item time {
  color: #92a9db;
}
.item .avatar {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  height: 15%;
  width: 15%;
}
.item .avatar:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
}
.item .avatar img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 3px;
}
.item:hover {
  z-index: 2;
  background: #cfd9ef;
  border-color: #bfcdea;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.25), 0 1px #dae2f3, 0 -1px #dee5f4;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.25), 0 1px #dae2f3, 0 -1px #dee5f4;
}
.item:active, .item.selected {
  z-index: 3;
  background: #bfcdea;
  border-color: #7e9ad4;
  cursor: auto;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), 0 1px #dee5f4, 0 -1px #dee5f4;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), 0 1px #dee5f4, 0 -1px #dee5f4;
}





