@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?luxw5k');
	src:url('../fonts/icomoon.eot?#iefixluxw5k') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?luxw5k') format('truetype'),
		url('../fonts/icomoon.woff?luxw5k') format('woff'),
		url('../fonts/icomoon.svg?luxw5k#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-calendar2:before {
	content: "\e601";
}
.icon-calendar3:before {
	content: "\e602";
}
.icon-camera:before {
	content: "\e603";
}
.icon-camera2:before {
	content: "\e604";
}
.icon-checkmark:before {
	content: "\e605";
}
.icon-checkmark2:before {
	content: "\e606";
}
.icon-cancel:before {
	content: "\e607";
}
.icon-cancel3:before {
	content: "\e622";
}
.icon-plus:before {
	content: "\e632";
}
.icon-plus2:before {
	content: "\e633";
}
.icon-cog:before {
	content: "\e623";
}
.icon-cogs:before {
	content: "\e624";
}
.icon-picture:before {
	content: "\e625";
}
.icon-android:before {
	content: "\e626";
}
.icon-marvin:before {
	content: "\e627";
}
.icon-time:before {
	content: "\e608";
}
.icon-checkmark3:before {
	content: "\e609";
}
.icon-cancel2:before {
	content: "\e60a";
}
.icon-upload:before {
	content: "\e60b";
}
.icon-location:before {
	content: "\e60c";
}
.icon-gamepad:before {
	content: "\e628";
}
.icon-trashcan:before {
	content: "\e60d";
}
.icon-soccer:before {
	content: "\e60e";
}
.icon-medal:before {
	content: "\e60f";
}
.icon-medal2:before {
	content: "\e610";
}
.icon-locked:before {
	content: "\e621";
}
.icon-magnifier:before {
	content: "\e611";
}
.icon-zoomin:before {
	content: "\e612";
}
.icon-zoomout:before {
	content: "\e613";
}
.icon-grid:before {
	content: "\e614";
}
.icon-list:before {
	content: "\e615";
}
.icon-list2:before {
	content: "\e616";
}
.icon-chat:before {
	content: "\e617";
}
.icon-comments:before {
	content: "\e618";
}
.icon-chat2:before {
	content: "\e619";
}
.icon-chat3:before {
	content: "\e61a";
}
.icon-hourglass:before {
	content: "\e61b";
}
.icon-edit:before {
	content: "\e629";
}
.icon-envelope:before {
	content: "\e61c";
}
.icon-envelope2:before {
	content: "\e61d";
}
.icon-info2:before {
	content: "\e62a";
}
.icon-clipboard:before {
	content: "\e61e";
}
.icon-clipboard2:before {
	content: "\e61f";
}
.icon-switch:before {
	content: "\e620";
}
.icon-clock3:before {
	content: "\e600";
}
.icon-plus-alt:before {
	content: "\e634";
}
.icon-minus-alt:before {
	content: "\e635";
}
.icon-arrow-left:before {
	content: "\e62b";
}
.icon-arrow-left-alt1:before {
	content: "\e62c";
}
.icon-arrow-right:before {
	content: "\e62d";
}
.icon-arrow-right-alt1:before {
	content: "\e62e";
}
.icon-user2:before {
	content: "\e62f";
}
.icon-download:before {
	content: "\e630";
}
.icon-upload2:before {
	content: "\e631";
}
.icon-home2:before {
	content: "\e901";
}
.icon-pencil:before {
	content: "\e905";
}
.icon-pencil2:before {
	content: "\e906";
}
.icon-folder-plus:before {
	content: "\e931";
}
.icon-folder-minus:before {
	content: "\e932";
}
.icon-folder-download:before {
	content: "\e933";
}
.icon-clock:before {
	content: "\e94e";
}
.icon-clock2:before {
	content: "\e94f";
}
.icon-alarm:before {
	content: "\e950";
}
.icon-calendar:before {
	content: "\e953";
}
.icon-upload3:before {
	content: "\e961";
}
.icon-user:before {
	content: "\e971";
}
.icon-users:before {
	content: "\e972";
}
.icon-user-plus:before {
	content: "\e973";
}
.icon-user-minus:before {
	content: "\e974";
}
.icon-user-check:before {
	content: "\e975";
}
.icon-hour-glass:before {
	content: "\e979";
}
.icon-spinner:before {
	content: "\e97a";
}
.icon-meter:before {
	content: "\e9a6";
}
.icon-info:before {
	content: "\ea0c";
}
.icon-enter:before {
	content: "\ea13";
}
.icon-arrow-right2:before {
	content: "\ea3c";
}
.icon-arrow-left2:before {
	content: "\ea40";
}
